<% if @schools %>
<ol style="width:50%;margin: 0 auto;">
	<% @schools.each do |s| %>
	
		<li><%= s.name %></li>
	
	<% end %>
</ol>
<% end %>

<% if @courses %>
	<div id="maintext">Below is your schedule of classes with the names and facebook links to all of the students in those classes that have uploaded their schedules. Once more students in your classes upload their schedules, they will appear on this page. Make sure to check back every once in a while for new additions!<% if current_user.school.name == "University of Pennsylvania" %><span style="color:green">If you're schedule is weird in any way, please re-upload and email me if it persists (hmind2005@gmail.com).</span><% end %></div></br>
	</br>
	<div id="schedulewrap">
	<div id='calendar'><div id="schops">
	    <td><%= link_to 'Delete my Schedule', @schedule, :confirm => 'Are you sure?', :method => :delete %></td>
	</div></div>
	<div id="accordion">
		<% e = 0 %>
		<% @courses.each do |c|%>
	    <div class="accordionButton" style="background-color:<%= @colors[e] ? @colors[e] : "#000000" %>;color:<%= @textColors[e] ? @textColors[e] : "#FFFFFF" %>;"><%= c.name %></div>
		<div class="accordionContent" style="background-color:<%= @colors[e] ? @colors[e] : "#000000" %>">
			<table style="margin:0 auto;text-align:center;">
				<% @students[c.name].each do |s| %>
				<tr>
					<td>
					<a href="<%= s.link %>" target="_blank" style="color:white;"><%= s.name %></a>
					</td>
				</tr>
				<% end %>
				<% if @students[c.name].count < 1%>
					<tr>
						<td>
							No one from this section has added their schedules =( Check back later!
						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<% e+=1 %>
		<% end %>
	</div>
	</div>
<% else %>
<% if @user %>
<div id="maintext"><%= render :partial => "intro#{current_user.school.name.delete(' ')}" %></div>
</br>
<div id='upform'>
<%= render 'form' %>
</div>
<% else %>

<div id="maintext">Welcome to myUniSchedule! This site allows students to upload their class schedules and link with others that are in their classes! Click the facebook button above to login with your facebook. You must have a supported school in your facebook education profile. If you have any errors or gltiches (or suggestions), email me at hmind2005@gmail.com or follow me on twitter below.</div>
</br>
<%= link_to image_tag('musmain1.png'), @oauth.url_for_oauth_code(:permissions => 'user_education_history'), :style=> "margin-left:auto;margin-right:auto;" %>
<% end %>
<% end %>
</div>