<div id="content">
<div id="uni-error"><%= flash[:error]%></div>
<div id="uni-success"><%= flash[:success]%></div>

<% if !@user %>
<%= link_to 'Login via Facebook', @oauth.url_for_oauth_code %>
<% else %>
<%= link_to 'Logout', {:controller => 'o_auth', :action => 'logout'} %>
<%= @user %>
<% end %>


<% if @courses %>

	<table>
		<tr>
		<% @courses.each do |c| %>
			<th><%= c.name %></th>
		<% end %>
		</tr>
		<% @usermax.times do |i|%>
		<tr>
			<% @courses.each do |c|%>
			<td>
				<% if @students[c.name][i] %>
				<a href="<%= @students[c.name][i].link %>" target ="_blank">
				<%= @students[c.name][i].name %>
				</a>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</table>
	<div id="schops">
	    <td><%= link_to 'View my Schedule', @schedu %></td>
	    <td><%= link_to 'Delete my Schedule', @schedu, :confirm => 'Are you sure?', :method => :delete %></td>
	</div>
<% else %>
<%= link_to 'Upload my Schedule', new_schedule_path %>
<% end %>
</div>
