<!DOCTYPE html>
<html>
<head>
  <title>myUniSchedule</title>
  <%= stylesheet_link_tag 'fullcalendar.css' %>
	<% styling = current_user ? current_user.school.id.to_s : 'default' %>
	<%= stylesheet_link_tag styling + '.css' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'fullcalendar.js' %>
  <%= csrf_meta_tag %>
	<% if @courses %>
		<script type="text/javascript">
		<%= render 'jschedule.js.erb' %>
		</script>
	<% end %>
</head>
<body>

<%= yield %>

</body>
</html>
